html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* header em cima, footer embaixo */
  align-items: center;
  height: 100vh;
  padding: 40px 0;
}

.header {
  align-self: flex-start; 
  margin-top: 17px;
}

.header img {
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.center {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: -100px;
}

.center img {
  width: 170px;
  height: auto;
  transition: transform 0.3s ease;
}

.center img:hover {
  transform: scale(1.05);
}

.footer {
  margin-bottom: 10px;
}

.footer img {
  width: 200px;
  height: auto;
  opacity: 0.8;
}

@media (max-width: 1080px) {


  .container {
    height: 100vh;
    padding: 20px 0;
    align-items: flex-start;
  }

  .header {
    align-self: flex-start;
    margin-left: 20px;
  }

  .header img {
    width: 1000px;
    margin-top: 400px;
  }

  .center {
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: -300px;
    width: 100%;
  }

  .center img {
    width: 400px;
  }

  .footer {
    align-self: center;
    margin-bottom: 20px;
  }

  .footer img {
    width: 400px;
  }
}

@media (max-width: 768px) {
  .header img {
    width: 500px;
  }

  .center img {
    width: 200px;
    margin-top: 100px;
    
  }

  .footer img {
    width: 300px;
  }
}
